USE [master]
GO
/****** Object:  Database [StudMinDB]    Script Date: 4/23/2022 2:37:06 PM ******/
CREATE DATABASE [StudMinDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudMinDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.KITA\MSSQL\DATA\StudMinDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudMinDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.KITA\MSSQL\DATA\StudMinDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudMinDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudMinDB]
GO
/****** Object:  Table [dbo].[CLASS]    Script Date: 4/23/2022 2:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASS](
	[ID] [uniqueidentifier] NOT NULL,
	[CLASSNAME] [varchar](max) NULL,
	[IDTEACHER] [uniqueidentifier] NULL,
	[SCHOOLYEAR] [varchar](20) NULL,
	[IDGRADE] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONDUCT]    Script Date: 4/23/2022 2:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONDUCT](
	[ID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRADE]    Script Date: 4/23/2022 2:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRADE](
	[ID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INFOR]    Script Date: 4/23/2022 2:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INFOR](
	[ID] [uniqueidentifier] NOT NULL,
	[FIRSTNAME] [nvarchar](max) NULL,
	[LASTNAME] [nvarchar](max) NULL,
	[SEX] [int] NULL,
	[DAYOFBIRTH] [smalldatetime] NULL,
	[ADDRESS] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LESSON]    Script Date: 4/23/2022 2:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LESSON](
	[ID] [uniqueidentifier] NOT NULL,
	[IDTEACHER] [uniqueidentifier] NOT NULL,
	[IDSUBJECT] [uniqueidentifier] NOT NULL,
	[IDCLASS] [uniqueidentifier] NOT NULL,
	[IDSCHEDULE] [uniqueidentifier] NOT NULL,
	[TIMESTART] [tinyint] NULL,
	[TIMEEND] [tinyint] NULL,
	[DAYOFW] [tinyint] NULL,
	[TIMEOFDAY] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OTP]    Script Date: 4/23/2022 2:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTP](
	[ID] [uniqueidentifier] NOT NULL,
	[CODE] [nvarchar](max) NULL,
	[Time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARAMETER]    Script Date: 4/23/2022 2:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARAMETER](
	[ID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](max) NULL,
	[MIN] [int] NULL,
	[MAX] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REPORTSEMESTER]    Script Date: 4/23/2022 2:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPORTSEMESTER](
	[IDCLASS] [uniqueidentifier] NOT NULL,
	[IDSEMESTER] [uniqueidentifier] NOT NULL,
	[PASSQUANTITY] [int] NULL,
	[RATIO] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCLASS] ASC,
	[IDSEMESTER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REPORTSUBJECT]    Script Date: 4/23/2022 2:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPORTSUBJECT](
	[IDCLASS] [uniqueidentifier] NOT NULL,
	[IDSEMESTER] [uniqueidentifier] NOT NULL,
	[IDSUBJECT] [uniqueidentifier] NOT NULL,
	[PASSQUANTITY] [int] NULL,
	[RATIO] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCLASS] ASC,
	[IDSEMESTER] ASC,
	[IDSUBJECT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLESCORE]    Script Date: 4/23/2022 2:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLESCORE](
	[ID] [uniqueidentifier] NOT NULL,
	[ROLE] [nvarchar](max) NULL,
	[COEFFICIENT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCHEDULE]    Script Date: 4/23/2022 2:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCHEDULE](
	[ID] [uniqueidentifier] NOT NULL,
	[DATEAPPLY] [smalldatetime] NULL,
	[SCHOOLYEAR] [varchar](20) NULL,
	[SCHEDULENAME] [nvarchar](max) NULL,
	[IDSEMESTER] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCORE]    Script Date: 4/23/2022 2:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCORE](
	[ID] [uniqueidentifier] NOT NULL,
	[IDSUBJECT] [uniqueidentifier] NULL,
	[IDSTUDENT] [uniqueidentifier] NULL,
	[SCORE] [float] NULL,
	[SCHOOLYEAR] [varchar](20) NULL,
	[IDROLESCORE] [uniqueidentifier] NULL,
	[IDSEMESTER] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEMESTER]    Script Date: 4/23/2022 2:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEMESTER](
	[ID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 4/23/2022 2:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[ID] [uniqueidentifier] NOT NULL,
	[IDUSER] [uniqueidentifier] NULL,
	[IDSTAFFROLE] [uniqueidentifier] NULL,
	[IDINFOR] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFFROLE]    Script Date: 4/23/2022 2:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFFROLE](
	[ID] [uniqueidentifier] NOT NULL,
	[ROLE] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 4/23/2022 2:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[ID] [uniqueidentifier] NOT NULL,
	[EMAIL] [varchar](max) NULL,
	[IDCLASS] [uniqueidentifier] NULL,
	[EMAILPARENT] [varchar](max) NULL,
	[TEL] [varchar](20) NULL,
	[Status] [int] NULL,
	[BLOODLINE] [varchar](20) NULL,
	[IDINFOR] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDYING]    Script Date: 4/23/2022 2:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDYING](
	[IDCLASS] [uniqueidentifier] NOT NULL,
	[IDSTUDENT] [uniqueidentifier] NOT NULL,
	[SCHOOLYEAR] [varchar](20) NULL,
	[IDSEMESTER] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCLASS] ASC,
	[IDSTUDENT] ASC,
	[IDSEMESTER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBJECT]    Script Date: 4/23/2022 2:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBJECT](
	[Id] [uniqueidentifier] NOT NULL,
	[DisplayName] [nvarchar](max) NULL,
	[IDHEADTEACHER] [uniqueidentifier] NULL,
	[PASSSCORE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEACH]    Script Date: 4/23/2022 2:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEACH](
	[IDSUBJECT] [uniqueidentifier] NOT NULL,
	[IDTEACHER] [uniqueidentifier] NOT NULL,
	[IDCLASS] [uniqueidentifier] NOT NULL,
	[SCHOOLYEAR] [varchar](20) NULL,
	[IDSEMESTER] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDSUBJECT] ASC,
	[IDTEACHER] ASC,
	[IDCLASS] ASC,
	[IDSEMESTER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEACHER]    Script Date: 4/23/2022 2:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEACHER](
	[ID] [uniqueidentifier] NOT NULL,
	[IDUSER] [uniqueidentifier] NULL,
	[IDTEACHERROLE] [uniqueidentifier] NULL,
	[IDINFOR] [uniqueidentifier] NULL,
	[IDSUBJECT] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEACHERROLE]    Script Date: 4/23/2022 2:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEACHERROLE](
	[ID] [uniqueidentifier] NOT NULL,
	[ROLE] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSCRIPT]    Script Date: 4/23/2022 2:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSCRIPT](
	[ID] [uniqueidentifier] NOT NULL,
	[SCHOOLYEAR] [varchar](20) NULL,
	[IDSTUDENT] [uniqueidentifier] NULL,
	[LEVEL] [nvarchar](max) NULL,
	[IDCONDUCT] [uniqueidentifier] NULL,
	[IDSEMESTER] [uniqueidentifier] NULL,
	[AVGSCORE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERROLE]    Script Date: 4/23/2022 2:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERROLE](
	[ID] [uniqueidentifier] NOT NULL,
	[ROLE] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 4/23/2022 2:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [uniqueidentifier] NOT NULL,
	[USERNAME] [nvarchar](max) NULL,
	[PASSWORD] [nvarchar](max) NULL,
	[DISPLAYNAME] [nvarchar](max) NULL,
	[EMAIL] [nvarchar](max) NULL,
	[IDUSERROLE] [uniqueidentifier] NULL,
	[IDINFOR] [uniqueidentifier] NULL,
	[ISDELETED] [bit] NULL,
	[IDOTP] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[CLASS] ([ID], [CLASSNAME], [IDTEACHER], [SCHOOLYEAR], [IDGRADE]) VALUES (N'7b2ec550-20d2-4a60-848c-24acedb8e18c', N'12A1', N'5d6fd733-c7a4-4275-8b1f-7afbb0641c9a', N'2020', N'14261e9f-08ae-4c81-a70d-821a79ad3aca')
INSERT [dbo].[CLASS] ([ID], [CLASSNAME], [IDTEACHER], [SCHOOLYEAR], [IDGRADE]) VALUES (N'1632d656-8173-47f3-9f22-440905f47d57', N'10A1', N'8043e5c7-8493-4e68-921a-5814e8239ee9', N'2021', N'31a6a032-8ba0-489f-932c-8ed9d6ceb786')
INSERT [dbo].[CLASS] ([ID], [CLASSNAME], [IDTEACHER], [SCHOOLYEAR], [IDGRADE]) VALUES (N'62b033b9-7976-498c-9378-e3bd0618994a', N'11A1', N'd9a23bf8-e717-4ad1-bec0-c8c75123e234', N'2022', N'0e4e765e-f100-4153-9285-1fb7a790e75b')
GO
INSERT [dbo].[CONDUCT] ([ID], [NAME]) VALUES (N'2e281a15-25d3-42fd-b2cb-27d7c83ea9df', N'Yếu')
INSERT [dbo].[CONDUCT] ([ID], [NAME]) VALUES (N'4c561803-aabf-4ff6-bda4-48aa60721405', N'Tốt')
INSERT [dbo].[CONDUCT] ([ID], [NAME]) VALUES (N'23709cfd-9ccf-4007-a94a-87b6fc5d22d4', N'Trung bình')
GO
INSERT [dbo].[GRADE] ([ID], [NAME]) VALUES (N'0e4e765e-f100-4153-9285-1fb7a790e75b', N'11')
INSERT [dbo].[GRADE] ([ID], [NAME]) VALUES (N'14261e9f-08ae-4c81-a70d-821a79ad3aca', N'12')
INSERT [dbo].[GRADE] ([ID], [NAME]) VALUES (N'31a6a032-8ba0-489f-932c-8ed9d6ceb786', N'10')
GO
INSERT [dbo].[INFOR] ([ID], [FIRSTNAME], [LASTNAME], [SEX], [DAYOFBIRTH], [ADDRESS]) VALUES (N'fe3ee1bf-9972-4a8b-9d35-062026da677f', N'Trần Văn', N'Hùng', 0, NULL, NULL)
INSERT [dbo].[INFOR] ([ID], [FIRSTNAME], [LASTNAME], [SEX], [DAYOFBIRTH], [ADDRESS]) VALUES (N'721e915c-57d9-42f9-acae-242b3e0d2729', N'Nguyễn Văn', N'L', 0, CAST(N'2004-01-03T00:00:00' AS SmallDateTime), NULL)
INSERT [dbo].[INFOR] ([ID], [FIRSTNAME], [LASTNAME], [SEX], [DAYOFBIRTH], [ADDRESS]) VALUES (N'8044ef9a-5d51-4098-ae82-257815617115', N'Trần Thị', N'H', 0, CAST(N'2004-01-03T00:00:00' AS SmallDateTime), NULL)
GO
INSERT [dbo].[LESSON] ([ID], [IDTEACHER], [IDSUBJECT], [IDCLASS], [IDSCHEDULE], [TIMESTART], [TIMEEND], [DAYOFW], [TIMEOFDAY]) VALUES (N'822c64ee-1339-4adc-9b2a-12788af76e49', N'b6286a60-a824-4d30-ad68-4fc0ed6fda69', N'f1287a61-883f-434d-a4dd-c40463486632', N'7b2ec550-20d2-4a60-848c-24acedb8e18c', N'e62594e7-74fb-4322-892e-f258e85aafdd', 1, 2, 4, N'M')
INSERT [dbo].[LESSON] ([ID], [IDTEACHER], [IDSUBJECT], [IDCLASS], [IDSCHEDULE], [TIMESTART], [TIMEEND], [DAYOFW], [TIMEOFDAY]) VALUES (N'f6e64698-0a36-4daa-9391-22b577473f82', N'b6286a60-a824-4d30-ad68-4fc0ed6fda69', N'f1287a61-883f-434d-a4dd-c40463486632', N'62b033b9-7976-498c-9378-e3bd0618994a', N'fb00f304-d761-4055-810d-315c5b590a44', 1, 2, 2, N'M')
INSERT [dbo].[LESSON] ([ID], [IDTEACHER], [IDSUBJECT], [IDCLASS], [IDSCHEDULE], [TIMESTART], [TIMEEND], [DAYOFW], [TIMEOFDAY]) VALUES (N'd914fc3e-2fe9-403a-be33-23002def1ab4', N'd193a02c-9f10-4e1a-9b6f-bd7f626b4225', N'591bbdb2-72b1-4bd0-b85c-ff8efcf780e8', N'1632d656-8173-47f3-9f22-440905f47d57', N'0c36ef39-7224-4a5f-9993-6efe364a8e67', 3, 4, 3, N'M')
GO
INSERT [dbo].[SCHEDULE] ([ID], [DATEAPPLY], [SCHOOLYEAR], [SCHEDULENAME], [IDSEMESTER]) VALUES (N'fb00f304-d761-4055-810d-315c5b590a44', CAST(N'2022-01-01T00:00:00' AS SmallDateTime), N'2022', N'TKB1', NULL)
INSERT [dbo].[SCHEDULE] ([ID], [DATEAPPLY], [SCHOOLYEAR], [SCHEDULENAME], [IDSEMESTER]) VALUES (N'0c36ef39-7224-4a5f-9993-6efe364a8e67', CAST(N'2022-01-01T00:00:00' AS SmallDateTime), N'2022', N'TKB2', NULL)
INSERT [dbo].[SCHEDULE] ([ID], [DATEAPPLY], [SCHOOLYEAR], [SCHEDULENAME], [IDSEMESTER]) VALUES (N'e62594e7-74fb-4322-892e-f258e85aafdd', CAST(N'2022-01-01T00:00:00' AS SmallDateTime), N'2022', N'TKB3', NULL)
GO
INSERT [dbo].[SEMESTER] ([ID], [NAME]) VALUES (N'25a5b4e0-bf2f-4f3d-af73-53815a560604', N'1')
INSERT [dbo].[SEMESTER] ([ID], [NAME]) VALUES (N'73735952-9894-4d25-a808-79e53063f3f0', N'2')
GO
INSERT [dbo].[STAFF] ([ID], [IDUSER], [IDSTAFFROLE], [IDINFOR]) VALUES (N'6187738d-eb34-4075-bcba-80b2ce34123c', N'064f2bda-901a-456a-814a-d2a6400d13e4', N'5613f709-2e2b-4fea-9e7e-9714a246ec78', N'c29ee204-a7ce-421e-badb-3e2f36b98479')
INSERT [dbo].[STAFF] ([ID], [IDUSER], [IDSTAFFROLE], [IDINFOR]) VALUES (N'ad622284-0f8c-4230-a107-a587abfe33fd', N'741e95c8-d65d-46eb-94d7-161858e1b185', N'12579a19-ab90-4903-9271-b4a7fdc8233d', N'fe3ee1bf-9972-4a8b-9d35-062026da677f')
GO
INSERT [dbo].[STAFFROLE] ([ID], [ROLE]) VALUES (N'5613f709-2e2b-4fea-9e7e-9714a246ec78', N'Nhân viên')
INSERT [dbo].[STAFFROLE] ([ID], [ROLE]) VALUES (N'12579a19-ab90-4903-9271-b4a7fdc8233d', N'Quản lý')
GO
INSERT [dbo].[STUDENT] ([ID], [EMAIL], [IDCLASS], [EMAILPARENT], [TEL], [Status], [BLOODLINE], [IDINFOR]) VALUES (N'5a555cdd-ac6d-4396-8ffe-06a594a2c844', NULL, N'7b2ec550-20d2-4a60-848c-24acedb8e18c', NULL, NULL, 1, NULL, N'721e915c-57d9-42f9-acae-242b3e0d2729')
INSERT [dbo].[STUDENT] ([ID], [EMAIL], [IDCLASS], [EMAILPARENT], [TEL], [Status], [BLOODLINE], [IDINFOR]) VALUES (N'd16ca965-0d96-4550-a99e-0fe93269d253', NULL, N'7b2ec550-20d2-4a60-848c-24acedb8e18c', NULL, NULL, 1, NULL, N'8044ef9a-5d51-4098-ae82-257815617115')
INSERT [dbo].[STUDENT] ([ID], [EMAIL], [IDCLASS], [EMAILPARENT], [TEL], [Status], [BLOODLINE], [IDINFOR]) VALUES (N'32eba731-4ba1-49ab-8138-21f4bb0a3fb0', NULL, N'1632d656-8173-47f3-9f22-440905f47d57', NULL, NULL, 1, NULL, N'aefe6061-3815-4a3e-b3e4-27d1ed59fc0b')
GO
INSERT [dbo].[STUDYING] ([IDCLASS], [IDSTUDENT], [SCHOOLYEAR], [IDSEMESTER]) VALUES (N'7b2ec550-20d2-4a60-848c-24acedb8e18c', N'5a555cdd-ac6d-4396-8ffe-06a594a2c844', N'2022', N'73735952-9894-4d25-a808-79e53063f3f0')
INSERT [dbo].[STUDYING] ([IDCLASS], [IDSTUDENT], [SCHOOLYEAR], [IDSEMESTER]) VALUES (N'7b2ec550-20d2-4a60-848c-24acedb8e18c', N'd16ca965-0d96-4550-a99e-0fe93269d253', N'2022', N'73735952-9894-4d25-a808-79e53063f3f0')
INSERT [dbo].[STUDYING] ([IDCLASS], [IDSTUDENT], [SCHOOLYEAR], [IDSEMESTER]) VALUES (N'7b2ec550-20d2-4a60-848c-24acedb8e18c', N'5d11d776-f733-4c9f-8f90-b56270649ba5', N'2022', N'73735952-9894-4d25-a808-79e53063f3f0')
GO
INSERT [dbo].[SUBJECT] ([Id], [DisplayName], [IDHEADTEACHER], [PASSSCORE]) VALUES (N'a6588277-aba0-4f1b-b80a-2d222434d905', N'Hóa', NULL, 5)
INSERT [dbo].[SUBJECT] ([Id], [DisplayName], [IDHEADTEACHER], [PASSSCORE]) VALUES (N'9988d50f-6602-49e2-a212-54a0f0725217', N'GDCD', NULL, 5)
INSERT [dbo].[SUBJECT] ([Id], [DisplayName], [IDHEADTEACHER], [PASSSCORE]) VALUES (N'b7ad7eb9-977c-4798-a655-76593b3f8511', N'Lý', NULL, 5)
GO
INSERT [dbo].[TEACH] ([IDSUBJECT], [IDTEACHER], [IDCLASS], [SCHOOLYEAR], [IDSEMESTER]) VALUES (N'a6588277-aba0-4f1b-b80a-2d222434d905', N'40a78ea6-15d6-4eb5-ab7b-6bff84535f7a', N'7b2ec550-20d2-4a60-848c-24acedb8e18c', N'2022', N'73735952-9894-4d25-a808-79e53063f3f0')
INSERT [dbo].[TEACH] ([IDSUBJECT], [IDTEACHER], [IDCLASS], [SCHOOLYEAR], [IDSEMESTER]) VALUES (N'a6588277-aba0-4f1b-b80a-2d222434d905', N'40a78ea6-15d6-4eb5-ab7b-6bff84535f7a', N'1632d656-8173-47f3-9f22-440905f47d57', N'2022', N'73735952-9894-4d25-a808-79e53063f3f0')
INSERT [dbo].[TEACH] ([IDSUBJECT], [IDTEACHER], [IDCLASS], [SCHOOLYEAR], [IDSEMESTER]) VALUES (N'a6588277-aba0-4f1b-b80a-2d222434d905', N'40a78ea6-15d6-4eb5-ab7b-6bff84535f7a', N'62b033b9-7976-498c-9378-e3bd0618994a', N'2022', N'73735952-9894-4d25-a808-79e53063f3f0')
GO
INSERT [dbo].[TEACHER] ([ID], [IDUSER], [IDTEACHERROLE], [IDINFOR], [IDSUBJECT]) VALUES (N'b6286a60-a824-4d30-ad68-4fc0ed6fda69', N'e84dc7a6-dae5-4305-8e63-437ad92c6add', N'8a9127e1-e8b7-4d58-8595-de9df403be8c', N'18795500-3db0-4a87-a9c3-ad2df696c586', N'f1287a61-883f-434d-a4dd-c40463486632')
INSERT [dbo].[TEACHER] ([ID], [IDUSER], [IDTEACHERROLE], [IDINFOR], [IDSUBJECT]) VALUES (N'8043e5c7-8493-4e68-921a-5814e8239ee9', N'e1488ace-dbb5-4397-8fb5-3133336b3485', N'7291b2be-fada-42bd-811c-e5aa9e20c88d', N'2aec9668-ef0e-436f-9693-b9f7625dad46', N'b7ad7eb9-977c-4798-a655-76593b3f8511')
INSERT [dbo].[TEACHER] ([ID], [IDUSER], [IDTEACHERROLE], [IDINFOR], [IDSUBJECT]) VALUES (N'40a78ea6-15d6-4eb5-ab7b-6bff84535f7a', N'091a101f-2704-4a25-83de-de4e8ba56532', N'03e74b72-f72b-4f0b-9a0e-3f06bbad3bdb', N'db2cd6e7-5fee-4894-9517-83f4c335b0bb', N'a6588277-aba0-4f1b-b80a-2d222434d905')
GO
INSERT [dbo].[TEACHERROLE] ([ID], [ROLE]) VALUES (N'7eb757d0-5edb-45cf-8b29-1601783433aa', N'Phó hiệu trưởng')
INSERT [dbo].[TEACHERROLE] ([ID], [ROLE]) VALUES (N'03e74b72-f72b-4f0b-9a0e-3f06bbad3bdb', N'Trưởng bộ môn')
INSERT [dbo].[TEACHERROLE] ([ID], [ROLE]) VALUES (N'e063cad9-f9eb-40c1-9427-a18de4f1d971', N'Giáo viên')
GO
INSERT [dbo].[TRANSCRIPT] ([ID], [SCHOOLYEAR], [IDSTUDENT], [LEVEL], [IDCONDUCT], [IDSEMESTER], [AVGSCORE]) VALUES (N'962b4b78-5a47-4115-ac76-29e8ca5782e3', N'2022', N'32eba731-4ba1-49ab-8138-21f4bb0a3fb0', NULL, N'23709cfd-9ccf-4007-a94a-87b6fc5d22d4', NULL, NULL)
INSERT [dbo].[TRANSCRIPT] ([ID], [SCHOOLYEAR], [IDSTUDENT], [LEVEL], [IDCONDUCT], [IDSEMESTER], [AVGSCORE]) VALUES (N'01ddb067-4a50-48a3-9e0c-588187fd8dad', N'2022', N'd16ca965-0d96-4550-a99e-0fe93269d253', NULL, N'4c561803-aabf-4ff6-bda4-48aa60721405', NULL, NULL)
INSERT [dbo].[TRANSCRIPT] ([ID], [SCHOOLYEAR], [IDSTUDENT], [LEVEL], [IDCONDUCT], [IDSEMESTER], [AVGSCORE]) VALUES (N'e5696ef3-2560-4aeb-bedd-b24f8fada7ea', N'2020', N'5a555cdd-ac6d-4396-8ffe-06a594a2c844', NULL, N'4c561803-aabf-4ff6-bda4-48aa60721405', NULL, NULL)
GO
INSERT [dbo].[USERROLE] ([ID], [ROLE]) VALUES (N'dba21384-f267-4602-8d34-4cec0d8d9498', N'Admin')
INSERT [dbo].[USERROLE] ([ID], [ROLE]) VALUES (N'23f24864-b3af-454f-8aee-6820d44f721c', N'Nhân viên')
INSERT [dbo].[USERROLE] ([ID], [ROLE]) VALUES (N'7f8bda4a-0e26-41b9-af72-6d081652fd85', N'Giáo viên')
GO
INSERT [dbo].[USERS] ([ID], [USERNAME], [PASSWORD], [DISPLAYNAME], [EMAIL], [IDUSERROLE], [IDINFOR], [ISDELETED], [IDOTP]) VALUES (N'741e95c8-d65d-46eb-94d7-161858e1b185', N'quanly', N'quanly', N'Quản lý', NULL, N'23f24864-b3af-454f-8aee-6820d44f721c', N'fe3ee1bf-9972-4a8b-9d35-062026da677f', 0, NULL)
INSERT [dbo].[USERS] ([ID], [USERNAME], [PASSWORD], [DISPLAYNAME], [EMAIL], [IDUSERROLE], [IDINFOR], [ISDELETED], [IDOTP]) VALUES (N'e1488ace-dbb5-4397-8fb5-3133336b3485', N'chunhiem', N'chunhiem', N'Chủ Nhiệm', N'nhphuc0703@gmail.com', N'7f8bda4a-0e26-41b9-af72-6d081652fd85', N'2aec9668-ef0e-436f-9693-b9f7625dad46', 0, NULL)
INSERT [dbo].[USERS] ([ID], [USERNAME], [PASSWORD], [DISPLAYNAME], [EMAIL], [IDUSERROLE], [IDINFOR], [ISDELETED], [IDOTP]) VALUES (N'e84dc7a6-dae5-4305-8e63-437ad92c6add', N'hieutruong', N'hieutruong', N'Hiệu Trưởng', NULL, N'7f8bda4a-0e26-41b9-af72-6d081652fd85', N'18795500-3db0-4a87-a9c3-ad2df696c586', 0, NULL)
GO
ALTER TABLE [dbo].[CLASS] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[CONDUCT] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[GRADE] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[INFOR] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[LESSON] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[OTP] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[OTP] ADD  DEFAULT (getdate()) FOR [Time]
GO
ALTER TABLE [dbo].[PARAMETER] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[ROLESCORE] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[SCHEDULE] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[SCORE] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[SEMESTER] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[STAFF] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[STAFFROLE] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[STUDENT] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[STUDENT] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[SUBJECT] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[TEACHER] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[TEACHERROLE] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[TRANSCRIPT] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[USERROLE] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[CLASS]  WITH CHECK ADD FOREIGN KEY([IDGRADE])
REFERENCES [dbo].[GRADE] ([ID])
GO
ALTER TABLE [dbo].[CLASS]  WITH CHECK ADD FOREIGN KEY([IDTEACHER])
REFERENCES [dbo].[TEACHER] ([ID])
GO
ALTER TABLE [dbo].[LESSON]  WITH CHECK ADD FOREIGN KEY([IDCLASS])
REFERENCES [dbo].[CLASS] ([ID])
GO
ALTER TABLE [dbo].[LESSON]  WITH CHECK ADD FOREIGN KEY([IDSCHEDULE])
REFERENCES [dbo].[SCHEDULE] ([ID])
GO
ALTER TABLE [dbo].[LESSON]  WITH CHECK ADD FOREIGN KEY([IDSUBJECT])
REFERENCES [dbo].[SUBJECT] ([Id])
GO
ALTER TABLE [dbo].[LESSON]  WITH CHECK ADD FOREIGN KEY([IDTEACHER])
REFERENCES [dbo].[TEACHER] ([ID])
GO
ALTER TABLE [dbo].[REPORTSEMESTER]  WITH CHECK ADD FOREIGN KEY([IDCLASS])
REFERENCES [dbo].[CLASS] ([ID])
GO
ALTER TABLE [dbo].[REPORTSEMESTER]  WITH CHECK ADD FOREIGN KEY([IDSEMESTER])
REFERENCES [dbo].[SEMESTER] ([ID])
GO
ALTER TABLE [dbo].[REPORTSUBJECT]  WITH CHECK ADD FOREIGN KEY([IDCLASS])
REFERENCES [dbo].[CLASS] ([ID])
GO
ALTER TABLE [dbo].[REPORTSUBJECT]  WITH CHECK ADD FOREIGN KEY([IDSEMESTER])
REFERENCES [dbo].[SEMESTER] ([ID])
GO
ALTER TABLE [dbo].[REPORTSUBJECT]  WITH CHECK ADD FOREIGN KEY([IDSUBJECT])
REFERENCES [dbo].[SUBJECT] ([Id])
GO
ALTER TABLE [dbo].[SCHEDULE]  WITH CHECK ADD FOREIGN KEY([IDSEMESTER])
REFERENCES [dbo].[SEMESTER] ([ID])
GO
ALTER TABLE [dbo].[SCORE]  WITH CHECK ADD FOREIGN KEY([IDROLESCORE])
REFERENCES [dbo].[ROLESCORE] ([ID])
GO
ALTER TABLE [dbo].[SCORE]  WITH CHECK ADD FOREIGN KEY([IDSEMESTER])
REFERENCES [dbo].[SEMESTER] ([ID])
GO
ALTER TABLE [dbo].[SCORE]  WITH CHECK ADD FOREIGN KEY([IDSTUDENT])
REFERENCES [dbo].[STUDENT] ([ID])
GO
ALTER TABLE [dbo].[SCORE]  WITH CHECK ADD FOREIGN KEY([IDSUBJECT])
REFERENCES [dbo].[SUBJECT] ([Id])
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD FOREIGN KEY([IDINFOR])
REFERENCES [dbo].[INFOR] ([ID])
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD FOREIGN KEY([IDSTAFFROLE])
REFERENCES [dbo].[STAFFROLE] ([ID])
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD FOREIGN KEY([IDUSER])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD FOREIGN KEY([IDCLASS])
REFERENCES [dbo].[CLASS] ([ID])
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD FOREIGN KEY([IDINFOR])
REFERENCES [dbo].[INFOR] ([ID])
GO
ALTER TABLE [dbo].[STUDYING]  WITH CHECK ADD FOREIGN KEY([IDCLASS])
REFERENCES [dbo].[CLASS] ([ID])
GO
ALTER TABLE [dbo].[STUDYING]  WITH CHECK ADD FOREIGN KEY([IDSEMESTER])
REFERENCES [dbo].[SEMESTER] ([ID])
GO
ALTER TABLE [dbo].[STUDYING]  WITH CHECK ADD FOREIGN KEY([IDSTUDENT])
REFERENCES [dbo].[STUDENT] ([ID])
GO
ALTER TABLE [dbo].[SUBJECT]  WITH CHECK ADD FOREIGN KEY([IDHEADTEACHER])
REFERENCES [dbo].[TEACHER] ([ID])
GO
ALTER TABLE [dbo].[TEACH]  WITH CHECK ADD FOREIGN KEY([IDCLASS])
REFERENCES [dbo].[CLASS] ([ID])
GO
ALTER TABLE [dbo].[TEACH]  WITH CHECK ADD FOREIGN KEY([IDSEMESTER])
REFERENCES [dbo].[SEMESTER] ([ID])
GO
ALTER TABLE [dbo].[TEACH]  WITH CHECK ADD FOREIGN KEY([IDSUBJECT])
REFERENCES [dbo].[SUBJECT] ([Id])
GO
ALTER TABLE [dbo].[TEACH]  WITH CHECK ADD FOREIGN KEY([IDTEACHER])
REFERENCES [dbo].[TEACHER] ([ID])
GO
ALTER TABLE [dbo].[TEACHER]  WITH CHECK ADD FOREIGN KEY([IDINFOR])
REFERENCES [dbo].[INFOR] ([ID])
GO
ALTER TABLE [dbo].[TEACHER]  WITH CHECK ADD FOREIGN KEY([IDTEACHERROLE])
REFERENCES [dbo].[TEACHERROLE] ([ID])
GO
ALTER TABLE [dbo].[TEACHER]  WITH CHECK ADD FOREIGN KEY([IDUSER])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[TRANSCRIPT]  WITH CHECK ADD FOREIGN KEY([IDCONDUCT])
REFERENCES [dbo].[CONDUCT] ([ID])
GO
ALTER TABLE [dbo].[TRANSCRIPT]  WITH CHECK ADD FOREIGN KEY([IDSEMESTER])
REFERENCES [dbo].[SEMESTER] ([ID])
GO
ALTER TABLE [dbo].[TRANSCRIPT]  WITH CHECK ADD FOREIGN KEY([IDSTUDENT])
REFERENCES [dbo].[STUDENT] ([ID])
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD FOREIGN KEY([IDINFOR])
REFERENCES [dbo].[INFOR] ([ID])
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD FOREIGN KEY([IDOTP])
REFERENCES [dbo].[OTP] ([ID])
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD FOREIGN KEY([IDUSERROLE])
REFERENCES [dbo].[USERROLE] ([ID])
GO
ALTER TABLE [dbo].[LESSON]  WITH CHECK ADD CHECK  (([DAYOFW]>=(1) AND [DAYOFW]<=(7)))
GO
ALTER TABLE [dbo].[LESSON]  WITH CHECK ADD CHECK  (([TIMEEND]>=(1) AND [TIMEEND]<=(10)))
GO
ALTER TABLE [dbo].[LESSON]  WITH CHECK ADD CHECK  (([TIMESTART]>=(1) AND [TIMESTART]<=(10)))
GO
USE [master]
GO
