/****** Object:  Database [StudMinDB]    Script Date: 3/14/2022 7:55:41 PM ******/
CREATE DATABASE [StudMinDB]  
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[CLASS]    Script Date: 3/14/2022 7:55:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASS](
	[ID] [uniqueidentifier] NOT NULL,
	[CLASSNAME] [varchar](max) NULL,
	[IDTEACHER] [uniqueidentifier] NULL,
	[SCHOOLYEAR] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INFOR]    Script Date: 3/14/2022 7:55:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INFOR](
	[ID] [uniqueidentifier] NOT NULL,
	[FIRSTNAME] [nvarchar](max) NULL,
	[LASTNAME] [nvarchar](max) NULL,
	[SEX] [int] NULL,
	[DAYOFBIRTH] [smalldatetime] NULL,
	[ADDRESS] [nvarchar](max) NULL,
	[EMAIL] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIMIT]    Script Date: 3/14/2022 7:55:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIMIT](
	[ID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](max) NULL,
	[MIN] [int] NULL,
	[MAX] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLESUBJECT]    Script Date: 3/14/2022 7:55:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLESUBJECT](
	[ID] [uniqueidentifier] NOT NULL,
	[ROLE] [nvarchar](max) NULL,
	[COE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCORE]    Script Date: 3/14/2022 7:55:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCORE](
	[ID] [uniqueidentifier] NOT NULL,
	[IDSUBJECT] [uniqueidentifier] NULL,
	[IDSTUDENT] [uniqueidentifier] NULL,
	[SCORE] [float] NULL,
	[SCHOOLYEAR] [int] NULL,
	[SEMESTER] [int] NULL,
	[IDROLESUBJECT] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 3/14/2022 7:55:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[ID] [uniqueidentifier] NOT NULL,
	[IDUSER] [uniqueidentifier] NULL,
	[IDSTAFFROLE] [uniqueidentifier] NULL,
	[IDINFOR] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFFROLE]    Script Date: 3/14/2022 7:55:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFFROLE](
	[ID] [uniqueidentifier] NOT NULL,
	[ROLE] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 3/14/2022 7:55:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[ID] [uniqueidentifier] NOT NULL,
	[FIRSTNAME] [nvarchar](max) NULL,
	[LASTNAME] [nvarchar](max) NULL,
	[SEX] [int] NULL,
	[DAYOFBIRTH] [smalldatetime] NULL,
	[ADDRESS] [nvarchar](max) NULL,
	[EMAIL] [varchar](max) NULL,
	[IDCLASS] [uniqueidentifier] NULL,
	[GRADE] [int] NULL,
	[EMAILPARENT] [varchar](max) NULL,
	[TEL] [int] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDYING]    Script Date: 3/14/2022 7:55:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDYING](
	[IDCLASS] [uniqueidentifier] NOT NULL,
	[IDSTUDENT] [uniqueidentifier] NOT NULL,
	[SCHOOLYEAR] [int] NULL,
	[SEMESTER] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCLASS] ASC,
	[IDSTUDENT] ASC,
	[SEMESTER] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBJECT]    Script Date: 3/14/2022 7:55:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBJECT](
	[Id] [uniqueidentifier] NOT NULL,
	[DisplayName] [nvarchar](max) NULL,
	[IDHEADTEACHER] [uniqueidentifier] NULL,
	[PASSSCORE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEACH]    Script Date: 3/14/2022 7:55:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEACH](
	[IDSUBJECT] [uniqueidentifier] NOT NULL,
	[IDTEACHER] [uniqueidentifier] NOT NULL,
	[IDCLASS] [uniqueidentifier] NOT NULL,
	[SCHOOLYEAR] [int] NULL,
	[SEMESTER] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDSUBJECT] ASC,
	[IDTEACHER] ASC,
	[IDCLASS] ASC,
	[SEMESTER] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEACHER]    Script Date: 3/14/2022 7:55:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEACHER](
	[ID] [uniqueidentifier] NOT NULL,
	[IDUSER] [uniqueidentifier] NULL,
	[IDTEACHERROLE] [uniqueidentifier] NULL,
	[IDINFOR] [uniqueidentifier] NULL,
	[IDSUBJECT] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEACHERROLE]    Script Date: 3/14/2022 7:55:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEACHERROLE](
	[ID] [uniqueidentifier] NOT NULL,
	[ROLE] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSCRIPT]    Script Date: 3/14/2022 7:55:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSCRIPT](
	[ID] [uniqueidentifier] NOT NULL,
	[SCHOOLYEAR] [int] NULL,
	[SEMESTER] [int] NULL,
	[IDSTUDENT] [uniqueidentifier] NULL,
	[CONDUCT] [nvarchar](max) NULL,
	[RANK] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERROLE]    Script Date: 3/14/2022 7:55:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERROLE](
	[ID] [uniqueidentifier] NOT NULL,
	[ROLE] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 3/14/2022 7:55:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [uniqueidentifier] NOT NULL,
	[USERNAME] [nvarchar](max) NULL,
	[PASSWORD] [nvarchar](max) NULL,
	[DISPLAYNAME] [nvarchar](max) NULL,
	[EMAIL] [nvarchar](max) NULL,
	[IDUSERROLE] [uniqueidentifier] NULL,
	[IDINFOR] [uniqueidentifier] NULL,
	[ISDELETED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE TABLE LESSON
(
	ID UNIQUEIDENTIFIER DEFAULT NEWID() PRIMARY KEY,
	IDTEACHER UNIQUEIDENTIFIER NOT NULL,
	IDSUBJECT UNIQUEIDENTIFIER NOT NULL,
	IDCLASS UNIQUEIDENTIFIER NOT NULL,
	IDSCHEDULE UNIQUEIDENTIFIER NOT NULL,
	TIMESTUDY TINYINT CHECK (TIMESTUDY BETWEEN 1 AND 10),
	DAYOFW TINYINT CHECK (DAYOFW BETWEEN 1 AND 7)
)

CREATE TABLE SCHEDULE
(
	ID UNIQUEIDENTIFIER DEFAULT NEWID() PRIMARY KEY,
	DATEAPPLY SMALLDATETIME,
	SCHOOLYEAR INT,
	SEMESTER INT
)
--DEFAULT
ALTER TABLE [dbo].[CLASS] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[INFOR] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[LIMIT] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[ROLESUBJECT] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[SCORE] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[STAFF] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[STAFFROLE] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[STUDENT] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[STUDENT] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[SUBJECT] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[TEACHER] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[TEACHERROLE] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[TRANSCRIPT] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[USERROLE] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (newid()) FOR [ID]
GO

--FKEY
ALTER TABLE [dbo].[CLASS]  WITH CHECK ADD FOREIGN KEY([IDTEACHER])
REFERENCES [dbo].[TEACHER] ([ID])
GO
ALTER TABLE [dbo].[SCORE]  WITH CHECK ADD FOREIGN KEY([IDROLESUBJECT])
REFERENCES [dbo].[ROLESUBJECT] ([ID])
GO
ALTER TABLE [dbo].[SCORE]  WITH CHECK ADD FOREIGN KEY([IDSTUDENT])
REFERENCES [dbo].[STUDENT] ([ID])
GO
ALTER TABLE [dbo].[SCORE]  WITH CHECK ADD FOREIGN KEY([IDSUBJECT])
REFERENCES [dbo].[SUBJECT] ([Id])
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD FOREIGN KEY([IDINFOR])
REFERENCES [dbo].[INFOR] ([ID])
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD FOREIGN KEY([IDSTAFFROLE])
REFERENCES [dbo].[STAFFROLE] ([ID])
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD FOREIGN KEY([IDUSER])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD FOREIGN KEY([IDCLASS])
REFERENCES [dbo].[CLASS] ([ID])
GO
ALTER TABLE [dbo].[STUDYING]  WITH CHECK ADD FOREIGN KEY([IDCLASS])
REFERENCES [dbo].[CLASS] ([ID])
GO
ALTER TABLE [dbo].[STUDYING]  WITH CHECK ADD FOREIGN KEY([IDSTUDENT])
REFERENCES [dbo].[STUDENT] ([ID])
GO
ALTER TABLE [dbo].[SUBJECT]  WITH CHECK ADD FOREIGN KEY([IDHEADTEACHER])
REFERENCES [dbo].[TEACHER] ([ID])
GO
ALTER TABLE [dbo].[TEACH]  WITH CHECK ADD FOREIGN KEY([IDCLASS])
REFERENCES [dbo].[CLASS] ([ID])
GO
ALTER TABLE [dbo].[TEACH]  WITH CHECK ADD FOREIGN KEY([IDSUBJECT])
REFERENCES [dbo].[SUBJECT] ([Id])
GO
ALTER TABLE [dbo].[TEACH]  WITH CHECK ADD FOREIGN KEY([IDTEACHER])
REFERENCES [dbo].[TEACHER] ([ID])
GO
ALTER TABLE [dbo].[TEACHER]  WITH CHECK ADD FOREIGN KEY([IDINFOR])
REFERENCES [dbo].[INFOR] ([ID])
GO
ALTER TABLE [dbo].[TEACHER]  WITH CHECK ADD FOREIGN KEY([IDTEACHERROLE])
REFERENCES [dbo].[TEACHERROLE] ([ID])
GO
ALTER TABLE [dbo].[TEACHER]  WITH CHECK ADD FOREIGN KEY([IDUSER])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[TRANSCRIPT]  WITH CHECK ADD FOREIGN KEY([IDSTUDENT])
REFERENCES [dbo].[STUDENT] ([ID])
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD FOREIGN KEY([IDINFOR])
REFERENCES [dbo].[INFOR] ([ID])
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD FOREIGN KEY([IDUSERROLE])
REFERENCES [dbo].[USERROLE] ([ID])
GO
ALTER TABLE dbo.LESSON ADD	
FOREIGN KEY (IDTEACHER) REFERENCES dbo.TEACHER(ID),
FOREIGN KEY (IDSUBJECT) REFERENCES dbo.SUBJECT(ID),
FOREIGN KEY (IDCLASS) REFERENCES dbo.CLASS(ID),
FOREIGN KEY (IDSCHEDULE) REFERENCES dbo.SCHEDULE(ID)
