<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="studMin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings><add name="StudMinDBEntities" connectionString="metadata=res://*/Database.Models.Model.csdl|res://*/Database.Models.Model.ssdl|res://*/Database.Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dooc.database.windows.net;initial catalog=StudMinDB;persist security info=True;user id=dooc;password=ongnoipassword123@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <userSettings>
    <studMin.Properties.Settings>
      <setting name="Email" serializeAs="String">
        <value>example@gmail.com</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>password</value>
      </setting>
    </studMin.Properties.Settings>
  </userSettings>
</configuration>